@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap');

$color-header: #f1f3f8;
$color-body: #f0f9ff;
$color-footer: radial-gradient(#7eb0cf, #f1f3f8);
$font-family-lato:lato,
monospace;
$font-family-courier:'Courier Prime',
monospace;
$font-900:900;
$font-700:700;
$font-400:400;